// ------------------------------------
// BUTTONS
// ------------------------------------

.button {
  position: relative;
  display: inline-block;
  padding: .25em 2em;
  margin: 1em auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0,0,0,.5);
  @include linear-gradient(lightgrey, grey);

  &:hover {
    text-decoration: none;
  }

  &:active {
    top: 2px;
    @include transition;
  }

  &.back-to-top {
    position: relative;
    display: block;
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0 auto -3em auto;
    border: none;
    border-radius: 50%;
    font-weight: 700;
    line-height: 2em;
    text-align: center;

    &:hover {
      @include linear-gradient(lightgrey, $pink);
    }
  }
}



.top-anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
}

// button for regular meetup
.blue-button {
  @include linear-gradient($light-blue, $blue);
  border: 1px solid $light-blue;
  box-shadow: 0 4px 0 $dark-blue;

  &:hover {
    @include linear-gradient($lighter-blue, $blue);
  }

  &:active {
    box-shadow: 0 2px 0 $dark-blue;
  }
}

// button for apps meetup
.orange-button {
  @include linear-gradient($light-orange, $orange);
  border: 1px solid $light-orange;
  box-shadow: 0 4px 0 $dark-orange;

  &:hover {
    @include linear-gradient($lighter-orange, $orange);
  }

  &:active {
    box-shadow: 0 2px 0 $dark-orange;
  }
}

// button for beginners meetup
.red-button {
  @include linear-gradient($light-red, $red);
  border: 1px solid $light-red;
  box-shadow: 0 4px 0 $dark-red;

  &:hover {
    @include linear-gradient($lighter-red, $red);
  }

  &:active {
    box-shadow: 0 2px 0 $dark-red;
  }
}

// button for node meetup
.green-button {
  @include linear-gradient($light-green, $green);
  border: 1px solid $light-green;
  box-shadow: 0 4px 0 $dark-green;

  &:hover {
    @include linear-gradient($lighter-green, $green);
  }

  &:active {
    box-shadow: 0 2px 0 $dark-green;
  }
}
