// ------------------------------------
// BUTTONS
// ------------------------------------

.button {
  position: relative;
  display: inline-block;
  padding: .25em 2em;
  margin: 1em auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(0,0,0,.5);
  @include linear-gradient(lightgrey, grey);

  &:hover {
    text-decoration: none;
  }

  &:active {
    top: 2px;
    @include transition;
  }
}

// button for regular meetup
.blue-button {
  @include linear-gradient($light-blue, $blue);
  border-color: $light-blue;
  box-shadow: 0 4px 0 $dark-blue;

  &:hover {
    @include linear-gradient($lighter-blue, $blue);
  }

  &:active {
    box-shadow: 0 2px 0 $dark-blue;
  }
}

// button for apps meetup
.orange-button {
  @include linear-gradient($light-orange, $orange);
  border-color: $light-orange;
  box-shadow: 0 4px 0 $dark-orange;

  &:hover {
    @include linear-gradient($lighter-orange, $orange);
  }

  &:active {
    box-shadow: 0 2px 0 $dark-orange;
  }
}

// button for beginners meetup
.red-button {
  @include linear-gradient($light-red, $red);
  border-color: $light-red;
  box-shadow: 0 4px 0 $dark-red;

  &:hover {
    @include linear-gradient($lighter-red, $red);
  }

  &:active {
    box-shadow: 0 2px 0 $dark-red;
  }
}

// button for node meetup
.green-button {
  @include linear-gradient($light-green, $green);
  border-color: $light-green;
  box-shadow: 0 4px 0 $dark-green;

  &:hover {
    @include linear-gradient($lighter-green, $green);
  }

  &:active {
    box-shadow: 0 2px 0 $dark-green;
  }
}
