// ------------------------------------
// EVENT TIMELINE
// ------------------------------------

.event-timeline {
}

.timeline-title {
  background: rgba(255,255,255,0.8);
  padding: .5em 1em;
  margin: 1em 2em 1em -2px;
  color: #333;
}

.event {
  margin: 0 1em;
  background: $darker-blue;

  &:first-child {
    margin-top: 1em;
  }

  .title {
    margin: 0;
  }

  .date {
    position: relative;
    padding-top: 1em;
    margin-bottom: .5em;
    color: #fff;
    text-align: center;
  }

  time {
    display: block;
    margin-top: .25em;
    font-size: 2em;
    text-align: center;
  }

  h3 {
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }

  &:last-child {
    border-top: none;
  }
}

.event:not(.next) {
  position: relative;
  margin: 1em;

  .date, .title {
    font-size: .75em;
  }

  .date {
    position: absolute;
    top: .5em;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  time {
    position: absolute;
    top: -1px;
    right: 0;
    width: 5em;
    padding: .5em;
    margin-top: 0;
    font-size: 1.5em;

    span {
      display: inline;
    }
  }
}

.detail-link {
  display: block;
  padding: .5em;
  margin-top: 3em;
  font-weight: 700;
}

.event-details {
  padding: 1em;
  background: #fff;
  color: #666;
  font-size: .75em;

  li {
    padding: .5em 0;
    border-bottom: 1px solid #e1e1e1;
    line-height: 2;

    &:last-child {
      border-bottom: none;
    }

    &.interval { background: url(../images/icons.png) no-repeat 0 0; }
    &.time { background: url(../images/icons.png) no-repeat 0 -100px; }
    &.location { background: url(../images/icons.png) no-repeat 0 -200px; }
  }
}
