// ------------------------------------
// NAVIGATIONS
// ------------------------------------

.nav-item {
  display: block;
  padding: .5em;
  border-bottom: 1px solid #ccc;

  &:hover {
    background: rgba(255,255,255,.1);
    text-decoration: none;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

// hub navigation
// * provides links to event pages
// * uses footer anchor pattern in mobile
// ------------------------------------

.hub-nav {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
  background: #333;

  .nav-item {
    margin: 0;
    border-left: .25em solid;
    color: #fff;

    &.regular { border-left-color: $blue;}
    &.apps { border-left-color: $orange;}
    &.node { border-left-color: $green;}
    &.beginners { border-left-color: $red;}
  }
}

// navigation helpers

.go-to-nav {
  position: absolute;
  display: inline-block;
  right: 0;
  width: auto;
  padding: .5em;
  color: #fff;
  font-weight: 400;
  text-align: center;
  z-index: 1000;

  &:hover {
    background: rgba(255,255,255,.2);
  }
}

// secondary navigation

.secondary-nav {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
  background: #fff;
  text-align: center;
}

// secondary navigation within sidebar

.sidebar .nav-item {
    margin: 0 1em;
}

// --------------------------------------
// Styles for medium sized screens and up
// --------------------------------------

@media screen and (min-width: 700px) {

  .nav-item {
    display: inline-block;

    &.back-to-top {
      display: none;
    }
  }

  // hub navigation

  .hub-nav {
    position: fixed;
    width: auto;
    padding-left: 1em;
    top: 0;
    z-index: 1;

    .nav-item {
      border-top: 5px solid;
      border-bottom: none;
      border-left: none;
      @include transition;

      .back-to-top {
        display: none;
      }

      &:hover, 
      &:active, 
      &.active {
      }
      
      &.regular { border-top-color: $blue;}
      &.apps { border-top-color: $orange;}
      &.node { border-top-color: $green;}
      &.beginners { border-top-color: $red;}
    }
  }

  // secondary navigation

  .secondary-nav {
    text-align: left;

    .nav-item {
      margin-left: 1em;
      border-bottom: none;
    }
  }

  // secondary navigation within sidebar

  .sidebar .secondary-nav {
    text-align: left;

    .nav-item {
      display: block;
      margin: 0 1em;
      border-bottom: 1px solid #ccc;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  // navigation helpers
  
  .go-to-nav {
    display: none;
  }
}
