<footer class="site-footer">
  <div class="wrapper line">
    <!-- main navigation -->
    <nav id="hub-nav" class="hub-nav" role="navigation">
      <a href="index.html" class="nav-item"><i class="icon-home"></i></a>
      {% for sub_page in site.ugs %}
        {% if sub_page.layout == "ug" %}
          <a class="{{sub_page.class}} nav-item" href="{{sub_page.url}}" tabindex="{{sub_page.sort}}">{{sub_page.title}}</a>
        {% endif %}
      {% endfor %}
      <a class="nav-item" href="page.html" tabindex="6">Reject.JS</a>
      <a class="nav-item" href="page.html" tabindex="7">Nodecopter</a>
      <a href="#top" class="nav-item back-to-top" tabindex="-1">&uArr; Back to top</a>
    </nav>
    <!-- /main navigation -->
    <section class="unit one_fourth">
      <h5>Learn about Berlin.JS</h5>
      <ul>
        <li><a href="index.html#become-speaker">Become a speaker</a></li>
        <li><a href="index.html#host-event">How to host an event</a></li>
        <li><a href="index.html#code-of-conduct">Our code of condcut</a></li>
        <li><a href="index.html#team">Meet the team</a></li>
      </ul>
    </section>
    <section class="unit one_fourth">
      <h5>Connect with us</h5>
      <ul>
        <li>
          <a href="https://twitter.com/berlinjs">Follow Berlin.JS on Twitter</a>
        </li>
        <li>
          <a href="http://groups.google.com/group/js-berlin">Join our mailinglist</a>
        </li>
        <li>
          <a href="https://github.com/berlinjs/berlinjs.org">Watch the code on Github</a>
        </li>
      </ul>
    </section>
    <section class="unit one_fourth">
      <h5>Our supporters</h5>
      <ul>
        <li>Our meetups are kindly hosted by <a href="http://co-up.de">Co.Up Coworkingspace</a></li>
      </ul>
    </section>
  </div>
</footer>
</body>
</html>
