// ------------------------------------
// ANNOUNCEMENTS
// ------------------------------------

.talk {
  position: relative;
  margin-bottom: 1em;
  border-top: .25em solid #ccc;
  clear: both;
}

.free-slot {
  opacity: .5;
}

.talk-title {
  h3 {
    margin: 0 0 1em 0;
  }
}
