// ------------------------------------
// CONTENT STYLES
// ------------------------------------

.content {
  padding: 2em;
  background: #fff;
  border-bottom: 1px solid #ccc;

  section {
    position: relative;
    padding: 1em 0;
  }
}

// big imagery in the background of the landingpage

.image-container {
  display: none;
}

// testimonials

.testimonial {
  .quote {
    display: block;
    margin: 1em 0;
    font: italic 300 150%/1.5em 'Ubuntu';

    &:before {
      content: " “ ";
    }

    &:after {
      content: " ” ";
    }
  }
}

@media screen and (min-width: 700px) {

  .image-container {
    position: fixed;
    display: block;
    top: 2em;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    img {
      width: 100%;
    }
  }
}