// ------------------------------------
// PERSON
// This module holds data about persons like
// their name, picture, short bio and some links.
// ------------------------------------

.person {
  display: table;
  color: #aaa;
  font-family: 'Droid Serif', serif;
  font-style: italic;

  &:last-of-type {
    border-bottom: none;
  }
}

.person-picture {
  position: relative;
  width: 6em;
  margin: .5em 1em 0 0;
  float: left;
  overflow: hidden;

  img {
  max-width: 100%;
  border-radius: 50%;
  border: .25em solid #ccc;
  }
}

.person-name {
  color: #666;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}

.person-links {
  display: block;

  a {
    display: inline-block;
    padding: 0 .5em;
  }
}

.link-icon {
  display: block;
  width: 2em;
  height: 2em;
  margin: .5em auto;
  opacity: .5;

  &:hover {
    opacity: 1;
  }

  &.twitter { background: url(../images/icons.png) no-repeat 0 -300px; }
  &.github { background: url(../images/icons.png) no-repeat 0 -400px; }
}

a {
  display: inline-block;
}

.person-info {
  display: table-cell;
  padding-top: .25em;
  margin-left: 5em;
  line-height: 1.25;
  vertical-align: middle;
}

.person-links {
    display: block;
    width: 6em;
    text-align: center;

    a {
      padding: .25em;
      margin:  0 auto .5em;
      color: #ccc;

      &:hover {
        color: $pink;
        text-decoration: none;
      }
    }
  }

.landingpage .person {
  font-size: 100%;
}

// Speaker info within .talk

.talk {
  .person-picture {
    position: relative;
    top: -1.75em;
    width: 6em;
    margin: .5em 1em 1em 0;
    border: none;
    float: left;

    img {
      max-width: 100%;
      margin-top: 1em;
      border-radius: 50%;
      border: .25em solid $blue;
    }
  }

  .person-info {
    margin-left: 0;
  }
}

// Speaker within event details and speaker testimonials

.event-details .person-picture,
.testimonial .person-picture {
  width: 4em;
  height: 4em;
  margin-top: 0;
  border-radius: 50%;
  border: .25em solid #ccc;

  img {
    border: none;
  }
}