// ------------------------------------
// THEMES
// ------------------------------------
// Contains event specific styles mostly regarding their respective
// signature colors.

// logo on top of the landing page

.logo {
  display: none;
}

@media screen and (min-width: 700px) {
  .logo {
    width: 10em;
    margin: 2em 0 4em 0;
    display: block;

    img{
      max-width: 100%;
    }
  }
}

// regular (original) meetup
// ------------------------------------

.regular {
  .title,
  .main {
    border-top-color: $blue;

    h2 span {
      color: $blue;
    }
  }

  &.event:not(.next) time {
    background: $blue;
  }
}

.regular ::selection {
  background: $blue;
}

// apps meetup
// ------------------------------------

.apps {
  .title,
  .main {
    border-top-color: $orange;

    h2 span {
      color: $orange;
    }
  }

  &.event:not(.next) time {
    background: $orange;
  }  
}

.apps ::selection {
  background: $orange;
}

// node meetup
// ------------------------------------

.node {
  .title,
  .main {
    border-top-color: $green;

    h2 span {
      color: $green;
    }
  }

  &.event:not(.next) time {
    background: $green;
  }
}

.node ::selection {
  background: $green;
}

// beginners meetup (just an example)
// ------------------------------------

.beginners {
  .title,
  .main {
    border-top-color: $red;

    h2 span {
      color: $red;
    }
  }

  &.event:not(.next) time {
    background: $red;
  }
}

.beginners ::selection {
  background: $red;
}
