// ------------------------------------
// LAYOUT
// ------------------------------------

// containing elements

.wrapper {
  position: relative;
  max-width: 70em;
  margin: 0 auto;
}

.content-wrapper {
  position: relative;
  max-width: 70em;
  margin: 3em auto 0 auto;
}

// Small responsive grid system
// ------------------------------------
// * each line is as high as it's highest child
// * can be nested easily
// * applicable to almost any HTML element
//
// When needed, use it like this:
// <div class="line">
//   <div class="unit one_third"></div>
//   <div class="unit one_third"></div>
//   <div class="unit last_unit one_third"></div>
// </div>

.line,
.last_unit {
  overflow: hidden;
}

.unit {
  float: left;
}

.last_unit {
  width: auto;
  float: none;
}

.full_width {
  width: 100%;
}

// Small to medium screens
// ------------------------------------

@media only screen and (min-width: 320px) {

  .one_third,
  .two_thirds,
  .one_half {
    width: 100%;
  }

  .one_fourth {
    width: 50%;
  }

  .one_sixth {
    width: 33%;
  }
}

// Larger then medium and huge screens
// ------------------------------------

@media screen and (min-width: 700px) {

  .one_half { width: 50%; }

  .one_third { width: 33.333333%; }
  .two_thirds { width: 66.666666%; }

  .one_fourth { width: 25%; }
  .three_fourths { width: 75%; }

  .one_fifth { width: 20%; }
  .two_fifths { width: 40%; }
  .three_fifths { width: 60%; }
  .four_fifths { width: 80%; }

  .one_sixth { width: 16.666666%; }
  .five_sixths { width: 83.33333%; }
}
